@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

/* Reset Leaflet DivIcon default background */
.custom-leaflet-icon {
  background: transparent !important;
  border: none !important;
}